@page
@model MiniInventory.UI.Pages.Suppliers.CreateModel
@{
    ViewData["Title"] = "Add Supplier";
}

<h2>Add Supplier</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<form method="post">
    <div class="mb-3">
        <label asp-for="Supplier.SupplierName" class="form-label"> Supplier Name</label>
        <input asp-for="Supplier.SupplierName" class="form-control" />
        <span asp-validation-for="Supplier.SupplierName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Supplier.ContactName" class="form-label"> Contact Name</label>
        <input asp-for="Supplier.ContactName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Supplier.Phone" class="form-label"></label>
        <input asp-for="Supplier.Phone" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Supplier.Email" class="form-label"></label>
        <input asp-for="Supplier.Email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
